<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %t %5p %c{2}: %m%n" />
		</layout>
	</appender>
	
	<appender name="DailyROLLING" class="org.apache.log4j.FileAppender">
		<param name="File" value="./target/log/log.log" />
		<param name="bizFilePath" value="target/biz/log.biz"></param>
		<param name="bizFileSize" value="30 MB"></param>
		<param name="Append" value="true" />
		<param name="Threshold" value="debug" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n" />
		</layout>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="DailyROLLING" />
	</root>
</log4j:configuration>